<div class="clearfix mb-5">
  <button class="btn btn-primary float-right"(click)="open(mymodal)">Add</button>
</div>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items">
      <span class="logo">
        <i class="bi bi-folder-fill" *ngIf="item.folder"></i>
        <i class="bi bi-files" *ngIf="!item.folder"></i>
    </span>
    <a *ngIf="!item.folder">{{item.name}}</a>
      <a  *ngIf="item.folder" [routerLink]="['/', item.id]">{{item.name}}</a>        
      <div class="d-flex justify-content-end">
        <button type="button" *ngIf="!item.folder" class="btn btn-outline-success"(click)="download(item)">Download</button>
        <button type="button" class="btn btn-outline-secondary"(click)="delete(item)">Delete</button>
        <button class="btn btn-outline-primary"(click)="open(editmodal,item)">Edit</button>
        <button class="btn btn-outline-warning"(click)="open(movemodal,item)">Move</button>
      </div>
    </li>
</ul>

<!-- ModalEdit -->
<ng-template #editmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm" (ngSubmit)="rename(editForm)">
      <div class="form-group">
        <label for="name">New name</label>
        <input type="text" name="name" ngModel #name="ngModel" class="form-control" required>
      </div>
      <button class="btn btn-success">Edit</button>
    </form>
  </div>
</ng-template>

<!-- ModalAddFolder -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Folder </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #folderForm="ngForm" (ngSubmit)="createFolder(folderForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" ngModel #name="ngModel" class="form-control" required>
      </div>
      <button class="btn btn-success">Add Folder</button>
    </form>

    <div class="mt-5">
      <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Drop files here.</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>
</ng-template>

<!-- ModalMove -->
<ng-template #movemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #moveForm="ngForm" (ngSubmit)="moveToFolder(moveForm)">
      <div class="form-group">
        <label for="name">New location</label>
        <select name="location" ngModel #location="ngModel" class="form-control" required>
          <option [value]="folder.id" *ngFor="let folder of getListOfFolders()">{{folder.name}}</option>
        </select>
      </div>
      <button class="btn btn-success">Edit</button>
    </form>
  </div>
</ng-template>